.DS_Store
.dart_tool/
.packages
.idea/
.vscode/
build/
flutter_*.png
linked_modules/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata
pubspec.lock
coverage/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
android/.gradle/
android/captures/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
.temp/
